.wrapper{
	width: 40%;
	margin: 0 auto;
	border: 5px solid pink;
	
}
label{
	font-size: 20px;
}
.first_name, .last_name, .email, .password{
	width: 90%;
	height: 25px;
	padding: 10px;
	font-size: 18px;
}
.message{
	font-size: 18px;
	padding: 10px;
}
table{
	width:70.25%;
	border: 1px solid grey;
}
td, th{
	font-size: 30px;
	text-align: center;
	border: 1px solid grey;
}
td:hover{
	background-color: powderblue;
}
caption{
	font-size: 20px;
}